.module {
  width: 100%;
  height: 100%;
}
.module header {
  display: flex;
  gap: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 0 0 0rem 1rem;
}
.add-button {
  color: white;
  background-color: #ffffff2f;
  border-color: #ffffff2f;
}

.add-button:hover {
  background-color: #ffffff46;
}
.scroll{
  
  width:100%;
  height:100%;
}
.nav-container {
  box-sizing: border-box;
  height:300px;
  margin-top: 1rem;
  padding: 0rem 0rem 1rem 0.5rem;
  
  background-color: #5a62a32d;
  margin: 1rem;
  border-radius: 18px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.329);
}
.nav-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
