.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 98%;
  background-color: #00000028;
  height: 5rem;
  position: absolute;
  bottom:-2.5%;
  border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
  transition-duration: 250ms;
  transition-property: transform;
}

.open-button {
  position: absolute;
  top: 20%;
  color: white;
  transform: rotate(-90deg);
  font-size: 1.5rem;
}

.bar:hover {
  transform: scale(1.5);
}

.drawer{
  background-color: #202231;
  border-top:1rem solid #5a63a30a;
  border-radius:0% 100% 100% 0% / 0% 50% 0% 0% 
}

.header{
  position:relative;
  width:72%;
  display:flex;
  gap:1rem;
  padding:1rem;
  margin:1rem 0 0 2rem;
  border-bottom: 3px solid #ffffff0a

}
.header p{
  color:rgba(255, 255, 255, 0.37);
}

.add-button {
  position:absolute;
  bottom:10px;
  left:240px;
  color: white;
  background-color: #ffffff2f;
  border-color: #ffffff2f;
}

.add-button:hover {
  background-color: #ffffff46;
}

.title{
  color:white;
  font-weight:bold;
  font-size: 1.5rem;

}

.lists{
  width:100vw;
  display:grid;
  grid-template-columns: 48% 1% 48%;
}

.divider{
  background-color: #ffffff0a;
  height:100%;
  margin-top:1.5rem;
  width:7px;
}
