.tasks-container {
  background-color: #282a36;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 9px;
  height: fit-content;
  position: relative;
  min-width: 268px;
}
.tasks-container header {
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 10px;
}
.tasks-container footer {
  color: white;
  font-size: 13px;
}
.tasks-container button {
  padding-right: 8rem;
  border-radius: 6px;
}
.tasks-container button:hover {
  background-color: #41455cab;
}
.form-control{
  display:flex;
  flex-direction: column;
}
.form-actions {
  position: absolute;
  bottom: -55px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.form-actions button {
  color: #240370;
  border: 1px solid #240370;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.form-control input {
  height: 23px;
  border-radius: 6px;
  margin-top: 5px;
  padding-left:10px;
  color:black;
}
.form-control label {
  color: white;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: #33059e;
  border-color: #33059e;
  color: white;
}

.tasks-container header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tasks-container header button {
  padding: 4px;
  background-color: rgba(172, 172, 172, 0.363);
  font-size: 16px;
}

.editmenu {
  position: absolute;
  right: -60px;
  top: 28px;
  z-index: 10;
}
.dropdown {
  height: fit-content;
  width: fit-content;
}

.groups {
  width: 100%;
  min-height: 2rem;
  background-color: #282a36;
}

.header {
  color: white;
}
.card-container {
  position: relative;
  font-size: 13px;
  width: 245px;
  height: 60px;
  background-color: #41455cab;
  margin-bottom: 12px;
  padding: 8px 8px 2px 8px;
  border-radius: 6px;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.7);
}

.header button {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  z-index: 1000;
}

.header button:hover {
  background-color: #282a368e;
}

.drag {
  background-color: #282a36;
}
.drag * {
  display: none;
}
