.container {
  display: flex;
  justify-content: space-between;
  background-color: #240370b6;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  position: relative;
  gap: 3rem;
  margin-left: 130px;
  color: white;
  font-weight: bold;
  font-size: 21px;
  padding: 2rem 1rem;
}
.right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: 10;
}

.icon {
  position: absolute;
  left: 74px;
  top: 25px;
}
.search {
  padding: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.5em;
}
.search input {
  border-radius: 6px;
  padding-left: 5px;
  height: 30px;
  font-size: 15px;
}
.item {
  padding: 25px;
  color: white;
}
.item:hover {
  background-color: #2403707e;
}
.user {
  padding: 10px 15px;
}
.user:hover {
  background-color: #2403707e;
}

.menu:hover{
  background-color: rgba(0, 0, 0, 0.145);
}
.editmenu {
  position: absolute;
  top:-30px;
  right:-40px;
}

.spacer {
  width: 40px;
}

.profile img{
  width:37px;
  height:37px;
  border-radius:100px;
  z-index:1
}
.note-menu{
  position: absolute;
  right:-35px;
  top:-30px;
  padding-bottom:1rem;
}
.notify{
  position:relative;
}

.notify div{
  position:absolute;
  top:12px;
  right:15px;
  background-color:rgb(245, 208, 0);
  border-radius:50%;
  width:20px;
  height:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
  font-size:0.8rem;
}

.note-item{
  position:relative;
  padding-bottom:0px;
  padding-bottom:1rem ;
}

.note-item:hover{
  background-color:rgba(0, 0, 0, 0.049);
}

.note-item p{
  position:absolute;
  bottom:15px;
  left:10px;
  color:grey;
  font-size:0.8rem;
}

.note-content{
  margin:0.7rem 0;
  color:rgb(107, 107, 107);
}

.note-item header{
  font-weight:bold;
}

.note-actions{
  display:flex;
  justify-content:flex-end;
  gap:1rem;
  font-size:0.7rem;
}

.note-actions button{
  display:flex;
  justify-content:center;
  align-items:center;
  width:20px;
  height:20px;
  border-radius:50%;
  color:white;

}

.no-notifications {
  color:grey;
}

