.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
}
.modal {
  position: absolute;
  top:30%;
  left:34%;
  background-color: white;
  box-shadow: 0 2px 8px #00000073;
  border-radius: 10px;
  z-index: 20;
  width: 30%;
}

.form-control {
  padding: 20px 30px;
}

.form-control label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}
.form-control input,
.form-control select {
  font: inherit;
  padding: 0.75rem;
  width: 20rem;
  border: 1px solid grey;
  border-radius: 5px;
  height: 2rem;
  display: block;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}
.header {
  width: 100%;
  padding: 20px 25px;
  border-bottom: 1px solid black;
  background-color: #30396b;
  border-radius: 5px;
}
.header h2 {
  font-size: 1.5rem;
  font-weight:bold;
  color:white;
}

.form-actions {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-actions button {
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.form-actions .submit {
  border: 1px solid #33059e;
  background-color:#33059e;
  color: white;
}
.submit:disabled,
.form-actions button:disabled,
.form-actions button:disabled:hover,
.form-actions button:disabled:active {
  background-color: #ccc;
  color: rgb(114, 113, 113);
  border-color: #ccc;
  cursor: not-allowed;
}

.form-actions .submit:hover {
  background-color:#2a0483;
  color: white;
}
.form-control p {
  display: inline;
}

.form-control .signin {
  color: blue;
  text-decoration: underline;
  padding-left: 13px;
  cursor: pointer;
}

.invalid input {
  border: 1px solid #b40e0e !important;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800 !important;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
