.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
}
.modal {
  background-color: white;
  z-index: 20;
  width: 40%;
}

.form-control {
  padding: 20px 30px;
}

.form-control label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}
.form-control input {
  width: 20rem;
  border: 1px solid grey;
  border-radius: 5px;
  height: 2rem;
  display: block;
}
.header {
  width: 100%;
  padding: 20px 25px;
  border-bottom: 1px solid black;
}
.header h2 {
  font-size: 1.5rem;
}

.form-actions {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-actions button {
  color: red;
  background-color: transparent;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: rgb(253, 123, 123);
}

.form-actions .submit {
  border: 1px solid red;
  background-color: red;
  color: white;
}

.form-control p {
  display: inline;
}

.form-control .signin {
  color: blue;
  text-decoration: underline;
  padding-left: 13px;
  cursor: pointer;
}

.invalid input{
    border: 1px solid #b40e0e !important;
    background-color: #fddddd;
}

.invalid input:focus{
    border-color:#ff8800 !important;
    background-color:#fbe8d2;
}

.error-text{
    color: #b40e0e;
}