.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: center;
  color: white;
  background-color: #654ca1be;
  height: 3.5rem;
}

.nav-left,
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 8px 10px;
  padding-right: 10px;
  border-right: 1px solid #ffffff18;
}
.nav-item h2 {
  font-weight: bold;
  padding: 8px;
  font-size: 1.2rem;
}

.nav-item button {
  box-sizing: border-box;
  background-color: #ffffff18;
  padding: 7px;
  margin-top: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.favorites{
  font-size:1.4em;
}



.members-search{
  padding:5px;
  padding-left:.5rem;
}

.members-menu{
  position: absolute;
  border: 1px solid #e9ecef;
  box-shadow: 0 0 2px rgba(0,0,0,10);
  background-color:white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
}

